.home{
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        width: 100%;
        height:100%;
        display: flex;

        .sidebar{
            flex:1;
            background-color: lightseagreen;

            .navbar{
                display: flex;
                align-items: center;
                background-color: darkcyan;
            }
        
        }
        .chat{flex: 2; background-color: aquamarine;}
    }
}